@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-display: auto;
  font-size: 1rem;
  line-height: 1.54;
  text-rendering: optimizeLegibility;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
  color: #222;
}

@media (max-width: 684px) {
  body {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #232425;
    color: #a9a9b3;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #222;
  }
}

[dark-theme="dark"] body {
  background-color: #232425;
  color: #a9a9b3;
}

[dark-theme="light"] body {
  background-color: #fff;
  color: #222;
}

.container {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;
}

@media (max-width: 684px) {
  .content {
    margin-top: 0;
  }
}

a {
  color: inherit;
}
